.light {
  --app-background: #eaebf5;
  --chat-background: #fff;
  --link-color: #c0c1c5;
  --navigation-bg: #fff;
  --navigation-box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
  --main-color: #3d42df;
  --message-bg: #f3f4f9;
  --message-bg-2: #3d42df;
  --message-text: #2c303a;
  --placeholder-text: #a2a4bc;
  --button-bg: #fff;
  --nav-bg: #182842;
}
.dark{
  --app-background: #182842;
  --nav-bg: #eaebf5;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  outline: none;
  transition: .2s;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

a {
  text-decoration: none;
}

.app-container {
  background-color: var(--app-background);
  width: 100%;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  transition: .2s;
  
}

.left-side {
  position: relative;
  padding: 16px;
  flex-basis: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--navigation-bg);
  padding: 14px;
  border-radius: 10px;
  box-shadow: var(--navigation-box-shadow);
  width: 60%;
}

.nav-link+.nav-link {
  margin-top: 32px;
}

.nav-link:hover svg {
  color: #3d42df;
}

.icon svg {
  width: 24px;
  height: 24px;
  color: var(--link-color);
  transition: .2s ease-in;
}

.app-main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.video-wrapper {
  height: 100%;
  width: 97.5%;
  margin-left: -6px;
  min-width: 400px;
  transition: width 0.3s ease;
  margin-top: 10px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border: solid #E5E5E5 2px;
  box-shadow: -30px 22px 37px -8px rgba(0, 0, 0, 0.1);
  background-color: #2c3046;
  position: relative;
}

.video-wrapper img {
  height: 100%;
  width: 100%;
}

.comment-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30%;
  background-color: white;
  width: 97.5%;
  transition: width 0.3s ease;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border: solid #E5E5E5 2px;
}

.live-wrapper {
  width: 120%;
  border-bottom: solid #E5E5E5 2px;
  margin-left: -10px;
  padding-bottom: 20px;
}

.name-tag {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 15, 47, 0.5);
  border-radius: 4px;
  padding: 4px 12px;
}

.participant-actions {
  position: absolute;
  display: flex;
  left: 12px;
  top: 12px;
}

.btn-mute,
.btn-camera {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(0, 15, 47, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border: none;
}

.btn-mute {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mic-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M9 9v3a3 3 0 005.12 2.12M15 9.34V4a3 3 0 00-5.94-.6'/%3E%3Cpath d='M17 16.95A7 7 0 015 12v-2m14 0v2a7 7 0 01-.11 1.23M12 19v4M8 23h8'/%3E%3C/svg%3E%0A");
  margin-right: 4px;
}

.btn-camera {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-camera-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M21 21H3a2 2 0 01-2-2V8a2 2 0 012-2h3m3-3h6l2 3h4a2 2 0 012 2v9.34m-7.72-2.06a4 4 0 11-5.56-5.56'/%3E%3C/svg%3E%0A");
}

.video-call-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  max-width: 500px;
}
.play-button-wrap{
  position: absolute;
  top: 30%;
  left: 37%;
}
.play-button-wrap img{
  height: 40px;
}
.video-action-button {
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  margin: 0 8px;
  box-shadow: var(--navigation-box-shadow);
  border-radius: 8px;
  width: 48px;
  cursor: pointer;
  outline: none;
  background-color: var(--button-bg);

  &.mic {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mic-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M9 9v3a3 3 0 005.12 2.12M15 9.34V4a3 3 0 00-5.94-.6'/%3E%3Cpath d='M17 16.95A7 7 0 015 12v-2m14 0v2a7 7 0 01-.11 1.23M12 19v4M8 23h8'/%3E%3C/svg%3E%0A");
    background-position: center;
  }

  &.camera {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-camera-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M21 21H3a2 2 0 01-2-2V8a2 2 0 012-2h3m3-3h6l2 3h4a2 2 0 012 2v9.34m-7.72-2.06a4 4 0 11-5.56-5.56'/%3E%3C/svg%3E%0A");
    background-position: center;
  }

  &.maximize {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-maximize' viewBox='0 0 24 24'%3E%3Cpath d='M8 3H5a2 2 0 00-2 2v3m18 0V5a2 2 0 00-2-2h-3m0 18h3a2 2 0 002-2v-3M3 16v3a2 2 0 002 2h3'/%3E%3C/svg%3E%0A");
    background-position: center;
  }

  &.endcall {
    color: #ff1932;
    width: auto;
    font-size: 14px;
    padding-left: 42px;
    padding-right: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ff1932' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone-missed'%3E%3Cline x1='23' y1='1' x2='17' y2='7'/%3E%3Cline x1='17' y1='1' x2='23' y2='7'/%3E%3Cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'/%3E%3C/svg%3E");
    background-size: 20px;
    background-position: center left 12px;
  }

  &.magnifier {
    padding: 0 12px;
    display: flex;
    align-items: center;
    width: auto;
    flex-grow: 0;
    color: #2c303a;

    svg {
      width: 20px;
      flex-shrink: 0;
    }

    span {
      display: block;
      margin: 0 16px;
    }
  }
}

.participants {
  display: flex;
  background-color: var(--button-bg);
  box-shadow: var(--navigation-box-shadow);
  margin-top: 16px;
  padding: 12px;
  border-radius: 8px;
  max-width: 232px;
  margin-left: auto;
}

.participant-more {
  background-color: #e1e0e1;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #636181;
  font-weight: 700;
  border-radius: 8px;
  min-width: 32px;
}

.mode-switch {
  /* z-index: 1;
    position: absolute;
    top: 20px;
    left: 36px;
    background-color: var(--chat-background);
    border: none;
    color: #ddd;
    outline: none;
    cursor: pointer;
    box-shadow: var(--navigation-box-shadow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    transform-origin: center; */
  margin-top: 25px;

  svg {
    width: 0;
    height: 24px;
    transition: all .3s ease-in;
    transform-origin: center;
  }

  .moon {
    opacity: 0;
  }

  .sun {
    width: 24px;
  }
}

.dark .moon {
  opacity: 1;
  width: 24px;
}
.recommendedVedios{
    display:flex;
    position: absolute;
    width: 100%;
    bottom: 20px;
}
.recommend{
  cursor: pointer;
  height: 87px;
  width: 150px;
  border-radius: 10%;
  overflow: hidden;
  border:solid #E5E5E5 2px;
  margin-left:7%;
}
.box4{
  margin-right:7% ;
}
.alignbox3{
  margin-right: 7%;
}
.dark .sun {
  opacity: 0;
  width: 0;
}

.expand-btn {
  position: absolute;
  right: 32px;
  top: 24px;
  border: none;
  background-color: var(--chat-background);
  border-radius: 4px;
  padding: none;
  color: var(--message-text);
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  display: none;

  &.show {
    display: flex;
  }
}

@media screen and (max-width: 520px) {
  .expand-btn {
    right: 16px;
  }

  .mode-switch {
    left: 16px;
  }

  .video-call-actions {
    padding-top: 32px;
  }

  .video-action-button {
    width: 32px;
    height: 32px;
    background-size: 14px;
    margin: 0 4px;
  }

  .video-action-button.endcall {
    background-size: 14px;
    font-size: 12px;
    padding-left: 36px;
  }

  .video-action-button.magnifier svg {
    width: 14px;
  }

  .video-action-button.magnifier span {
    margin: 0 4px;
    font-size: 12px;
  }
}

@media screen and (max-width: 520px) and (max-height: 720px) {
  .video-participant {
    width: 50%;
    height: 33.3%;
  }
}

/* :root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
} */




/* leftside nav bar */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--nav-bg);
  width: 60px;
  padding: 10px 0;

}

.nav .logo {
  width: 30px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.nav ul {
  margin-top: 50px;

}

.nav ul li {
  list-style: none;

}

.nav ul li img {
  width: 50px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 10px;
  /* background-color: #3d42df; */
  transition: opacity 0.5s, background 0.5s;
}

.nav ul li img:hover {
  opacity: 1;
  background: #4d6181;

}

.comment-wrapper {
  margin-left: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #F5FCFF;
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 110%;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background-color: #F5FCFF;
  /* box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2); */
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

/* .msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
} */
/* .msger-header {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
} */

/* .msger-header-title {
  font-size: 10px;
} */

.msg-bubble {
  max-width: 450px;
  padding: 5px;
  border-radius: 15px;
  font-size: 10px;
  display: flex;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.logo-container img {
  height: 18px;
  margin-right: 15px;

}

.logo-container {
  border: solid black 1 px;

}

.live-text {
  font-size: 14px;
  margin-left: 17px;
  font-weight: bolder;
}



/* Comments */


.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
}

.msger-chat {
  background-color: #F5FCFF;
}

.msg-text {
  font-size: 13.5px;
}

















































/* .msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
} */

/* .msg-info-name {
  margin-right: 10px;
  font-weight: bold;
} */

/* .msg-info-time {
  font-size: 0.85em;
} */
/* .chatIcon {
  margin: 10px;
} */