@keyframes bouncing-loader {
    to {
      /* opacity: 0.1; */
      transform: translate3d(0, -10px, 0);
    }
  }
  
  .bouncing-loaderChild {
    width: 60px;
    height: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .bouncing-loaderChild > div {
    width: 6px;
    height: 6px;
    margin:  0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.5s infinite alternate;
  }
  
  .bouncing-loaderChild > div:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .bouncing-loaderChild > div:nth-child(3) {
    animation-delay: 0.3s;
  }