@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.face-wrapper{
  
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: scroll;
  padding-bottom: 30px;
}
body{
  background-color: #EAEBF5;
}
.card-wrap{
  width: 13rem;
  height: 15rem;
  background: #f2f2f2;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.card-wrap:hover{
  transform: scale(1.1);
}
.card-header{
  height: 12rem;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;

}
.card-header img{
height: 12rem;
width: 100%;
}

.card-header i{
  color: #fff;

}
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color:black;
  font-weight: bolder;
  
}

.card-header.two{
  background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}
.topbar{

    position: relative;
  padding: 20px;
}
.h1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #182842;
  width: 60px;
  padding: 10px 0;

}

.navbar .logo {
  width: 30px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.navbar ul {
  margin-top: 50px;

}

.navbar ul li {
  list-style: none;

}

.navbar ul li img {
  width: 50px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 10px;
  /* background-color: #3d42df; */
  transition: opacity 0.5s, background 0.5s;
}

.navbar ul li img:hover {
  opacity: 1;
  background: #4d6181;

}